<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>BlameP4</title>

  <link rel="stylesheet" href="css/external/icono.min.css">
  <link rel="stylesheet" href="css/external/pure-min.css">
  <link rel="stylesheet" href="css/external/hljs/default.min.css">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/layouts/side-menu.css">

</head>
<body>

  <div id="layout" ng-app="blameP4" ng-controller="BlameAppController">

    <div id="menu">
      <div class="pure-menu">

        <form>
          <input type="file" load-file />
        </form>

        <div id="search-box" search-box></div>

      </div>
    </div>

    <div id="main">
      <table ng-if="lines" class="pure-table">
        <thead>
          <tr>
            <th>commit</th>
            <th>code</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="x in lines">

            <td class="commit">
              <button ng-click="describeCommit(x.commit)">
                {{x.commit}}
              </button>
            </td>

            <td class="code" ng-bind-html="x.code"></td>

          </tr>
        </tbody>
      </table>

    </div>

  </div>

  <script src="app.js"></script>
  <script src="components/on-enter/index.js"></script>
  <script src="components/search-box/index.js"></script>
  <script src="directives/focusWhen.js"></script>
  <script src="directives/loadFile.js"></script>
  <script src="services/blameParser.js"></script>
  <script src="services/vcservice.js"></script>

</body>
</html>
